<!DOCTYPE html>
<html>
<head>
  <title>Angel List Jobs Map</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= @head_extras %>
</head>
<body>

<%= yield %>

</body>
</html>
